

@font-face {
  font-family: "Caveat";
  src: url("Frontend/src/Fonts/Caveat/static/Caveat-SemiBold.ttf") format("truetype");
}

.site-title a {
  font-family: "Caveat", Arial, sans-serif;
  font-size: 50px;
}


.background {
    background-color: #f1ede9;
    margin: 10;
    counter-reset: section;
}
/*header*/
.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0 50px;
    border-bottom: #bfa161 solid 2px;
    height: 70px;
}
.header_home {
    font-size: 20px;
    line-height: 20px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}
.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 50px;
}
.about {
    margin-left: 40px;
}

/* sign up button*/
.button, button {
    background:#eda974;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    border: none;
    margin-bottom: 10px;
    position: fixed;
    top: 3%;
    right: 100px;
    font-family: "Caveat", Arial, sans-serif;
    font-size: 18px;
}
.button:hover, button:hover {
    background:#f4900e;
}


/*nav bar */
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation li {
  display: inline;
  margin-right: 20px;
}
.navigation a {
  font-family: "Caveat", Arial, sans-serif;
  text-decoration: none;
  color: #333;
  border-right: 2px solid #bfa161;
  font-size: 27px;
  margin-right: 10px;
  padding: 10px 15px;
}


/* sign up link */
p.login-link {
  font-family: Arial, sans-serif;
  font-size: 10px;
  margin-top: 60px;

}
p.login-link a {
  color: blue;
}




