/* styles.css */
@import url("style.css");

.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: 9999;
}

.login-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-popup button {
    width: 95%;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    background: var(--orange-brown-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-popup button:hover {
    background: var(--orange-brown-color-brighter);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.spinner {
    display: none;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main-content {
    margin-right: 3px;
    margin-left: 3px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quickPicks {
    width: 100%;
    background: var(--orange-brown-color);
    color: white;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

.row {
    display: flex;
}

.quickPicksLeft {
    padding: 5px;
    flex: 2;
    text-align: center;
}

.quickPicksLeft img {
    width: 100%;
    transition: all 0.4s ease;
}

.quickPicksLeft img:hover {
    transform: scale(0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.quickPicksRight,
.quickPicksFarRight {
    padding: 5px;
    flex: 1;
    text-align: center;
}

.quickPicksRight img,
.quickPicksFarRight img {
    width: 100%;
    transition: all 0.4s ease;
}

.quickPicksRight img:hover,
.quickPicksFarRight img:hover {
    transform: scale(0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#recipeInformation {
    margin-right: 3px;
    margin-left: 3px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipeTitle {
    width: 100%;
    background: var(--orange-brown-color);
    color: white;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

#errorMessage {
    width: 90%;
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    text-align: center;
}
