/* styles.css */
@import url("style.css");

.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: 9999;
}

.login-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-popup button {
    width: 96%;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    background: var(--orange-brown-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-popup button:hover {
    background: var(--orange-brown-color-brighter);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.spinner {
    display: none;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}