.background {
    background-color: #f1ede9;
    margin: 10;
    counter-reset: section;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0 20px;
    border-bottom: #bfa161 solid 2px;
    height: 70px;


}


.header_home {
    font-size: 20px;
    line-height: 20px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);

}

.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 40px;

}

.about {
    margin-left: 40px;
}

.button, button {
    background:#f4900e;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    border: none;
    cursor: pointer;
}

.button:hover, button:hover {
    background:#f4900e;
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 20px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

#concert-list li {
    margin-bottom: 1rem;
}

.state {
    display: none;
}

.state.active {
    display: block;
}






.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.navigation li {
  display: inline;
  margin-right: 20px;



}

.navigation a {
  text-decoration: none;
  color: #333;
  border-right: 1px solid #bfa161;
  font-size: 20px;
  margin-right: 10px;
  padding: 8px 12px;
}
