:root {
    --primary-color: #f1ede9;
    --secondary-color: #000000;
    --orange-brown-color: #bfa161;
    --error-color: rgba(194, 0, 0, 0.71);
}

.background {
    background-color: var(--primary-color);
    margin: 10px;
    counter-reset: section;
}

/* header */
.header {
/* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0 50px;
    border-bottom: var(--orange-brown-color) solid 2px;
    height: 108px;
}

.site-title {
    display: inline-flex;
    font-family: "Caveat", Arial, sans-serif;
}

.header_home {
    vertical-align: center;
    padding: 10px;
    font-size: 50px;
    text-decoration: none;
    width: 270px;
    color: var(--secondary-color);
}

.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 50px;
}

.about {
    margin-left: 40px;
}

/* sign up button */
.signUpBtn {
    background:#eda974;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    border: none;
    margin-bottom: 10px;
    position: fixed;
    top: 3%;
    right: 100px;
    font-family: "Caveat", Arial, sans-serif;
    font-size: 18px;
}

.signUpBtn:hover, signUpBtn:hover {
    background:#f4900e;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline;
    margin-right: 20px;
}

.navigation a {
    font-family: "Caveat", Arial, sans-serif;
    text-decoration: none;
    color: #333;
    border-right: 2px solid var(--orange-brown-color);
    font-size: 27px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 15px;
}

/* sign up link */
p.login-link {
    font-family: Arial, sans-serif;
    font-size: 10px;
    margin-top: 60px;
}

/*Card div formatting*/
.card {
    border: var(--orange-brown-color) 3px solid;
    margin: 20px;
    padding: 10px;
}

.cardTitle {
    font-family: "Caveat", serif;
    border-bottom: var(--orange-brown-color) 2px solid;
}

/* .state and .state.active hide and show items*/
.state {
    display: none;
}

.state.active {
    display: block;
}


.borderContainer{
   text-align: center;
}

.image-link{
    display: flex;
     justify-content: center;
}