:root {
    --primary-color: #f1ede9;
    --secondary-color: #000000;
    --orange-brown-color: rgba(191, 161, 97, 100);
    --orange-brown-color-rgb: #bfa161;
    --orange-brown-color-brighter: #ffce70;
    --orange-brown-color-darker: #b28c60;
    --error-color: rgba(194, 0, 0, 0.71);
}

.background {
    background-color: var(--primary-color);
    margin: 10px;
    counter-reset: section;
}

/* header */
.header {
    font-family: "Caveat", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--orange-brown-color) ;
}



.site-container {
    flex-basis: 33%; /* Increase the width to accommodate both logo and title */
    display: flex; /* Add flex display */
    align-items: center; /* Center the logo and title vertically */
}
.site-container:hover {
    cursor: pointer;
}

.site-Logo {
    width: 85px;
    height: 85px;
    margin-right: 10px;
}

.site-title {
    font-size: 42px;
    color: #bfa161;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navigation-container {
    flex-basis: 33%;
    display: flex;
    justify-content: center;
}
.navigation {
    border-bottom: 2px solid var(--orange-brown-color);
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: 5px;
    padding-left: 5px;
    display: inline-block;
    font-size: 30px;
    color: #333;
    text-decoration: none;
}

.navigation a:hover {
    background: var(--orange-brown-color);
    color: var(--primary-color);
    font-weight: bold;
}

.user-info-container {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-info-container p {
    font-size: 20px;
    margin: 0;
}
.user-info-container p a {
    display: grid;
    direction: rtl;
    font-size: 15px;
    margin: 2px;
    text-decoration: none;
    color: inherit;
}

.user-info-container p a:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.user-info-container button {
    color: #fff;
    font-size: 12px;
    padding: 5px;
    background: var(--orange-brown-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.user-info-container button:hover {
    background: var(--orange-brown-color-brighter);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

/*End header stuff*/
.about {
    margin-left: 40px;
}

/*Card div formatting*/
.card {
    border: var(--orange-brown-color) 2px solid;
    margin: 20px;
    padding: 10px;
}

.small-margin {
    margin: 10px;
    padding: 4px;
}

.cardTitle {
    font-family: "Caveat", serif;
    border-bottom: var(--orange-brown-color) 2px solid;
}

/* .state and .state.active hide and show items*/
.state {
    display: none;
}

.state.active {
    display: block;
}


.borderContainer{
    text-align: center;
}

.image-link{
    display: flex;
    justify-content: center;
}

#type-field {
    height: 21px;
    width: 177px;
}

.leftColumn {
    text-align: right;
}


.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 26px;
    color: black;
    border-radius: 5px 5px 0 0;
}

.menu li.selectedTab {
    background-color: var(--orange-brown-color);
}

.menu li:hover {
    color: white;
    background-color: var(--orange-brown-color);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.ingredientTitle {
    padding: 0px;
    margin: 0px;
}

.recipeCard {
    display: flex;
    flex-direction: row;
    border: var(--orange-brown-color) 2px solid;
    margin: 12px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    font-weight: 700;
    border-radius: 5px;
}

.recipeCard:hover {
    color: var(--primary-color);
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.recipeCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background: var(--orange-brown-color-darker);
    transition: width 0.6s;
}

.recipeCard:hover::before {
    width: 100%;
}

.info {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* START Recipe Popup overlay styling */
#overlay {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    overflow: hidden; /* Add this property to clip the overlay content */
}

#overlayContent {
    width: 100%;
    height: 100%;
    background-color: rgba(191, 161, 97, 0.8);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: "Caveat", serif;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 1
}

.ingredientTitlePopUp {
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    background-color: rgba(147, 123, 75, 0.8);
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 40px 40px 0 0;
}

#overlayContent::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    right: 10px;
    top: 10%;
    bottom: 10%;
}

#overlayContent::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.2);
}

#overlayContent::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

#overlayContent::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

#overlayContent > * {
    text-align: center;
    font-size: 30px;
    width: 100%;
}

#closeOverlayButton {
    background: rgba(0, 0, 0, 0.0);
    width: fit-content;
    height: fit-content;
    border: none;
    position: fixed;
    right: 12%;
    font-size: 50px;
    color: var(--orange-brown-color-brighter);
    cursor: pointer;
    z-index: 2;
}

.favoriteButton {
    position: fixed;
    left: 12%;
    font-size: 40px;
    background: none;
    border: none;
    color: gold;
    cursor: pointer;
    z-index: 2;
}
/* END Recipe Popup overlay styling */

#instructions-field {
    min-width: 300px;
    min-height: 100px
}

.recipe-form {
    max-width: 500px;
    margin: 0 auto;
}

.ingredient-title {
    text-align: center;
    margin-bottom: 20px;
}

.ingredient-form {
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.ingredient-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
.ingredient-textarea,
select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.ingredient-textarea {
    resize: vertical;
}

.add-ingredient-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.ingredient {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.submit-new-recipe {
    background-color: rgba(191, 161, 97, 100);;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.select-full-width {
    margin-top: 10px;
    width: 95%;
    box-sizing: border-box;
    padding: 10px;
}

.tooltip {
    position: absolute;
    background-color: #ff0000;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    top: -30px;
    left: 0;
    display: none; /* Add this line */
}



#searchForm {
    display: flex;
    align-items: center;
}

#searchInput {
    width: 50%;
    margin: 10px;
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

#filterButton {
    margin: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: rgba(191, 161, 97, 1);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#filterButton:hover {
    background-color: rgba(191, 161, 97, 0.8);
}

#filterTags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: rgba(191, 161, 97, 1);
    color: #fff;
    padding: 6px 12px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.removeButton {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
}

.removeButton:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#searchByTypeForm {
    display: flex;
    align-items: center;
}

#searchByTypeInput {
    margin: 10px;
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

#searchByTypeButton {
    margin: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: rgba(191, 161, 97, 1);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#searchByTypeButton:hover {
    background-color: rgba(191, 161, 97, 0.8);
}

#searchByTimeForm {
    display: flex;
    align-items: center;
}

#searchByTimeInput {
    margin: 10px;
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

#searchByTimeButton {
    margin: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: rgba(191, 161, 97, 1);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#searchByTimeButton:hover {
    background-color: rgba(191, 161, 97, 0.8);
}