:root {
    --primary-color: #f1ede9;
    --secondary-color: #000000;
    --orange-brown-color: rgba(191, 161, 97, 100);
    --orange-brown-color-brighter: #ffce70;
    --orange-brown-color-darker: #b28c60;
    --error-color: rgba(194, 0, 0, 0.71);
}

.background {
    background-color: var(--primary-color);
    margin: 10px;
    counter-reset: section;
}

/* header */
.header {
/* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0 50px;
    border-bottom:var(--orange-brown-color) solid 2px;
    height: 108px;
}

.site-title {
    display: inline-flex;
    font-family: "Caveat", Arial, sans-serif;
}

.header_home {
    vertical-align: center;
    padding: 10px;
    font-size: 50px;
    text-decoration: none;
    width: 270px;
    color: var(--secondary-color);
}

.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 50px;
}

.about {
    margin-left: 40px;
}

/* sign up button */
.signUpBtn {
    background:#eda974;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    border: none;
    margin-bottom: 10px;
    position: fixed;
    top: 3%;
    right: 100px;
    font-family: "Caveat", Arial, sans-serif;
    font-size: 18px;
}

.signUpBtn:hover, signUpBtn:hover {
    background:#f4900e;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline;
    margin-right: 20px;
}

.navigation a {
    font-family: "Caveat", Arial, sans-serif;
    text-decoration: none;
    color: #333;
    border-right: 2px solid var(--orange-brown-color);
    font-size: 27px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 15px;
}

/* sign up link */
p.login-link {
    font-family: Arial, sans-serif;
    font-size: 10px;
    margin-top: 60px;
}

/*Card div formatting*/
.card {
    border: var(--orange-brown-color) 2px solid;
    margin: 20px;
    padding: 10px;
}

.cardTitle {
    font-family: "Caveat", serif;
    border-bottom: var(--orange-brown-color) 2px solid;
}

/* .state and .state.active hide and show items*/
.state {
    display: none;
}

.state.active {
    display: block;
}


.borderContainer{
   text-align: center;
}

.image-link{
    display: flex;
     justify-content: center;
}

#type-field {
    height: 21px;
    width: 177px;
}

.leftColumn {
    text-align: right;
}


.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 26px;
    color: black;
}

.menu li.selectedTab {
    background-color: var(--orange-brown-color);
}

.menu li:hover {
    color: white;
    background-color: var(--orange-brown-color);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.ingredientTitle {
    padding: 0px;
    margin: 0px;
}

.recipeCard {
    display: flex;
    flex-direction: row;
    border: var(--orange-brown-color) 2px solid;
    margin: 2px;
    padding: 10px;
}

.info {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#overlayContent {
    width: 100%;
    height: 100%;
    background-color: var(--orange-brown-color);
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredientTitlePopUp {
    font-size: 36px;
    font-family: "Caveat", serif;
}

#closeOverlayButton {
    background: var(--orange-brown-color);
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: grab;
}


.quickPicks{
  font-size: 70px;
  font-family: "Caveat", serif;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4900e;

}

#body-section{
    padding: 20px;
}

#body-section .content {
     display: flex;
     flex-wrap: wrap;
     padding: 0 4px;
     border: #f4900e 2.5px solid;
}
#body-section p{
    font-family: "Caveat", serif;
    font-size: 18px;
}

.column{
    flex: 50%;
    padding: 0 10px;
    font-family: "Caveat", serif;
    font-size: 9px;
    align-items: center;
}

.column img{
    margin-top: 8px;
    vertical-align:right;
}
.column p{
    margin: 0;
}
.row p{
    margin: 0;

}
.imageContainer{
 display: flex;
 align-items: center;
}
.image-container img {
    margin-top: 8px;
}

.image-container p {
    margin-left: 10px;
}