:root {
    --primary-color: #f1ede9;
    --secondary-color: #000000;
    --orange-brown-color: rgba(191, 161, 97, 100);
    --orange-brown-color-brighter: #ffce70;
    --orange-brown-color-darker: #b28c60;
    --error-color: rgba(194, 0, 0, 0.71);
}

.background {
    background-color: var(--primary-color);
    margin: 10px;
    counter-reset: section;
}

/* header */
.header {
/* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0 50px;
    border-bottom:var(--orange-brown-color) solid 2px;
    height: 108px;
}

.site-title {
    display: inline-flex;
    font-family: "Caveat", Arial, sans-serif;
}

.header_home {
    vertical-align: center;
    padding: 10px;
    font-size: 50px;
    text-decoration: none;
    width: 270px;
    color: var(--secondary-color);
}

.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 50px;
}

.about {
    margin-left: 40px;
}

/* sign up button */
.signUpBtn {
    background:#eda974;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    border: none;
    margin-bottom: 10px;
    position: fixed;
    top: 3%;
    right: 100px;
    font-family: "Caveat", Arial, sans-serif;
    font-size: 18px;
}

.signUpBtn:hover, signUpBtn:hover {
    background:#f4900e;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline;
    margin-right: 20px;
}

.navigation a {
    font-family: "Caveat", Arial, sans-serif;
    text-decoration: none;
    color: #333;
    border-right: 2px solid var(--orange-brown-color);
    font-size: 27px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 15px;
}

/* sign up link */
p.login-link {
    font-family: Arial, sans-serif;
    font-size: 10px;
    margin-top: 60px;
}

/*Card div formatting*/
.card {
    border: var(--orange-brown-color) 2px solid;
    margin: 20px;
    padding: 10px;
}

.small-margin {
    margin: 10px;
    padding: 4px;
}

.cardTitle {
    font-family: "Caveat", serif;
    border-bottom: var(--orange-brown-color) 2px solid;
}

/* .state and .state.active hide and show items*/
.state {
    display: none;
}

.state.active {
    display: block;
}


.borderContainer{
   text-align: center;
}

.image-link{
    display: flex;
     justify-content: center;
}

#type-field {
    height: 21px;
    width: 177px;
}

.leftColumn {
    text-align: right;
}


.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 26px;
    color: black;
}

.menu li.selectedTab {
    background-color: var(--orange-brown-color);
}

.menu li:hover {
    color: white;
    background-color: var(--orange-brown-color);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.ingredientTitle {
    padding: 0px;
    margin: 0px;
}

.recipeCard {
    display: flex;
    flex-direction: row;
    border: var(--orange-brown-color) 2px solid;
    margin: 12px;
    padding: 10px;
}

.info {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    overflow: hidden; /* Add this property to clip the overlay content */
}

#overlayContent {
    width: 100%;
    height: 100%;
    background-color: rgba(191, 161, 97, 0.8);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: "Caveat", serif;
    overflow-y: auto;
    overflow-x: hidden;
}

.ingredientTitlePopUp {
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    background-color: rgba(147, 123, 75, 0.8); /* Adjust the color as desired */
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 40px 40px 0 0; /* Rounded edges on top */
}

#overlayContent::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    right: 10px;
    top: 10%; /* Set the top position to 10% */
    bottom: 10%; /* Set the bottom position to 10% */
}

#overlayContent::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.2); /* Set the background color of the scroll bar track */
}

#overlayContent::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4); /* Set the color of the scroll bar thumb */
    border-radius: 5px; /* Adjust the border radius of the scroll bar thumb */
}

#overlayContent::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6); /* Set the color of the scroll bar thumb on hover */
}

#overlayContent > * {
    text-align: center;
    font-size: 30px;
    width: 100%;
}

#closeOverlayButton {
    background: rgba(0, 0, 0, 0.0);
    width: fit-content;
    height: fit-content;
    border: none;
    position: fixed;
    right: 12%;
    font-size: 50px;
    color: var(--orange-brown-color-brighter);
    cursor: grab;
    z-index: 2;
}


.quickPicks{
  font-size: 100px;
  font-family: "Caveat", serif;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4900e;
  padding: 8px;

}

#body-section{
    padding: 20px;
}

#body-section .content {
     display: flex;
     flex-wrap: wrap;
     padding: 15px;
     border: #f4900e 2.5px solid;


}
#body-section p{
    font-family: "Caveat", serif;
    font-size: 18px;

}
.column{
    flex: 50%;
    padding: 0 10px;
    font-family: "Caveat", serif;
    font-size: 9px;
    align-items: center;

}
.column img{
    margin-top: 8px;
}
.column p{
    margin: 15px;
}
.row p{
    margin: 0;
    transform: translate(30%, -2%);
}
.row{
 transform: translate(6%, 5%);
}
.imageContainer{
 display: flex;
 align-items: center;
 transform: translate(9%, -2%);
}
.image-container img {
    margin-top: 8px;
}

.image-container p {
    margin-left: 10px;

}

#instructions-field {
    min-width: 300px;
    min-height: 100px
}

.recipe-form {
    max-width: 500px;
    margin: 0 auto;
}

.ingredient-title {
    text-align: center;
    margin-bottom: 20px;
}

.ingredient-form {
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.ingredient-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
.ingredient-textarea,
select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.ingredient-textarea {
    resize: vertical;
}

.add-ingredient-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.ingredient {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.submit-new-recipe {
    background-color: rgba(191, 161, 97, 100);;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.select-full-width {
    margin-top: 10px;
    width: 95%;
    box-sizing: border-box;
    padding: 10px;
}

.tooltip {
    position: absolute;
    background-color: #ff0000;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    top: -30px;
    left: 0;
    display: none; /* Add this line */
}



#searchForm {
    display: flex;
    align-items: center;
}

#searchInput {
    margin: 10px;
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

#filterButton {
    margin: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: rgba(191, 161, 97, 1);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#filterButton:hover {
    background-color: rgba(191, 161, 97, 0.8);
}

#filterTags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: rgba(191, 161, 97, 1);
    color: #fff;
    padding: 6px 12px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.removeButton {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
}

.removeButton:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#searchByTypeForm {
    display: flex;
    align-items: center;
}

#searchByTypeInput {
    margin: 10px;
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

#searchByTypeButton {
    margin: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: rgba(191, 161, 97, 1);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#searchByTypeButton:hover {
    background-color: rgba(191, 161, 97, 0.8);
}